/*--------------------------------------------------------------------------------------------------*/
/* Grundläggande
------------------------------------------------------------------------------------- Grundläggande */
@media screen and (max-width: 600px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 20px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #f4f4f4;
  }

  nav ul li {
    padding: 10px 0;
  }
}
